<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Application to keep track of dog training process">
    <meta name="keywords" content="dog training, dog commands, obedience">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spider dog</title>
    <link rel="stylesheet" href="SpiderDog/StyleSheet.css" />
    <script src="https://unpkg.com/vue@3" defer></script>
    <script src="SpiderDog/main.js" defer></script>
</head>

<body>
    <header>
        <h1>Spider dog</h1>
    </header>
    <main id="app">
        <div id="training-list-container">
            <h2>Lista med träningar</h2>
            <ul id="training-list">
                <li v-for="(item, index) in items">
                    <h3>{{item.trickName}}</h3>
                    <p class="sign">{{item.trickSign}} </p>
                    <p class="command">{{item.trickCommand}} </p>
                    <p class="description">{{item.trickDescription}}</p>
                    <p class="category">{{item.trickCategory}}</p>
                    <div class="rate">
                        <input type="radio" v-bind:id="item.id + 'star5'" v-bind:name="item.id" value="5" @change="changeRating($event, item.id)" v-model.number="item.rating" />
                        <label v-bind:for="item.id + 'star5'" title="text">5 stars</label>
                        <input type="radio" v-bind:id="item.id + 'star4'" v-bind:name="item.id" value="4" @change="changeRating($event, item.id)" v-model.number="item.rating" />
                        <label v-bind:for="item.id + 'star4'" title="text">4 stars</label>
                        <input type="radio" v-bind:id="item.id + 'star3'" v-bind:name="item.id" value="3" @change="changeRating($event, item.id)" v-model.number="item.rating" />
                        <label v-bind:for="item.id + 'star3'" title="text">3 stars</label>
                        <input type="radio" v-bind:id="item.id + 'star2'" v-bind:name="item.id" value="2" @change="changeRating($event, item.id)" v-model.number="item.rating" />
                        <label v-bind:for="item.id + 'star2'" title="text">2 stars</label>
                        <input type="radio" v-bind:id="item.id + 'star1'" v-bind:name="item.id" value="1" @change="changeRating($event, item.id)" v-model.number="item.rating" />
                        <label v-bind:for="item.id + 'star1'" title="text">1 star</label>
                    </div>
                    <button @click="deleteItemFromList(index)">🗑️</button>
                </li>
            </ul>
            <section v-bind:class="{hidden: areThereItems}">
                <p>Spider dog är en applikation där det går att hålla koll på träning och följa upp din och din hunds utveckling. Som stöd finns det ett spindeldiagram som gör det enklare att få en överblick kring framstegen, därav namnet Spider Dog.</p>
                <p>Det finns för närvarande inga träningsaktiviteter i listan. För att lägga till en ny, fyll i fomuläret.</p>
                <p>Utvecklad som en del av frontendkursen på teknikhögskolan av tre student</p>
                <ul class="credits">
                    <li>
                        <a href="https://github.com/Naelsh" target="_blank">Niklas</a>
                    </li>
                    <li>
                        <a href="https://github.com/inaas13" target="_blank">Inaas</a>
                    </li>
                    <li>
                        <a href="https://github.com/SusannahAndersson" target="_blank">Susannah</a>
                    </li>
                </ul>
            </section>

        </div>
        <form @submit.prevent="addNewItem" class="add-new">
            <label for="new-trick-name">Namn <span class="required-marker">*</span></label>
            <input v-model="trickName" id="new-trick-name" placeholder="Sitt" required>
            <label for="new-trick-sign">Tecken</label>
            <input v-model="trickSign" id="new-trick-sign" placeholder="Tecken">
            <label for="new-trick-command">Kommando</label>
            <input v-model="trickCommand" id="new-trick-command" placeholder="Sitt">
            <label for="new-trick-description">Beskrivning</label>
            <input v-model="trickDescription" id="new-trick-description" placeholder="Få hunden att sitta">
            <select v-model="trickCategory" id="trick-category" name="trick-category" required>
                <option value="" disabled>Välj kategori</option>
                <option value="Physic">Fysik</option>
                <option value="Obedience">Lydnad</option>
                <option value="Tracking">Spåra</option>
                <option value="Stability">Stadga</option>
                <option value="Playfullness">Lekfullhet</option>
                <option value="Agility">Rörlighet</option>
            </select>
            <button type="submit">Skapa</button>
            <button @click="readDummyData" :disabled="areThereItems">Hämta exempel</button>
        </form>
        <div id="spider-chart">
            <svg height="340" width="340">
                <polygon class="chart-background" points="70,220 70,120 170,70 270,120 270,220 170,270" />
                <polygon class="chart-attributes" v-bind:points="skillPoints" />
                <text x="35" y="230">Fysik</text>
                <text x="22" y="122">Lydnad</text>
                <text x="145" y="65">Spåra</text>
                <text x="270" y="122">Stadga</text>
                <text x="270" y="230">Lekfullhet</text>
                <text x="145" y="285">Rörlighet</text>
            </svg>
        </div>
        <!--clearLocalStorage button nedan: Fungerar, men används enbart ur testsyfte dvs är ingen funktionalitet som end-user behöver-->
        <button @click="clearLocalStorage">clearLocalStorage</button>
    </main>
    <footer>
        <div class="info">
            <p>
                Utvecklad av 
                <a href="https://github.com/Naelsh" target="_blank">Niklas</a>
                <a href="https://github.com/inaas13" target="_blank">Inaas</a>
                <a href="https://github.com/SusannahAndersson" target="_blank">Susannah</a>
            </p>
        </div>
    </footer>
</body>

</html>