/*#region general*/
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    font: 14px Arial, sans-serif;
    color: #454545;
}

header {
    text-align: center;
    margin: 20px;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
}
/*#endregion general*/

/*#region training-list*/
ul li {
    margin: 10px auto;
    text-align: start;
    list-style: none;
}

#training-list-container {
    background-color: #EBEBEB;
    width: auto;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 30px;
    margin: 15px;
    /* arbitrary for 1000 to provide lots of space */
    grid-row: 1/span 1000;
    display: flex;
    flex-direction: column;
}

    #training-list-container #presentation {
        margin: 20px;
        background-color: white;
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
    }

    #training-list-container #presentation p {
        margin: 15px 20px 5px 20px;
    }

    #training-list-container .credits {
        margin: 40px;
        text-align: center;
    }

    #training-list-container .credits li {
        display: inline;
    }

    #training-list-container .credits a {
        color: white;
        background-color: #454545;
        margin: 5px;
        padding: 8px;
        text-align: center;
        justify-self: left;
        align-self: left;
        border-radius: 15px;
    }

    #training-list-container .credits a:hover {
        color: #454545;
        background-color: white;
        border-color: #454545;
    }

    #training-list-container .hidden{
        display: none;
    }

    #training-list-container #training-list li {
        display: grid;
        grid-template-areas: "a b b" "c c c" "e e f" "g g h" "i i i";
        background-color: white;
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
        position: relative;
    }

        #training-list-container #training-list li h3 {
            grid-area: a;
            align-self: center;
        }

        #training-list-container #training-list li .sign {
            grid-area: c;
        }

        #training-list-container #training-list li .command {
            grid-area: e;
        }

        #training-list-container #training-list li .description {
            grid-area: g;
        }

        #training-list-container #training-list li .category {
            grid-area: i;
            color: white;
            background-color: #454545;
            margin: 5px;
            padding: 8px;
            text-align: center;
            justify-self: left;
            align-self: left;
            border-radius: 15px;
        }

        #training-list-container #training-list li .rate {
            grid-area: b;
            align-self: start;
        }

        #training-list-container #training-list li button {
            border-width: 1px;
            border-radius: 15%;
            position: absolute;
            right: -8px;
            top: -8px;
        }

        #training-list-container #training-list li button:hover {
            border-color: red;
        }
/*#endregion training-list*/

/*#region rate*/
.rate {
    float: left;
    height: 46px;
    padding: 0 10px 0 0;
}

    .rate:not(:checked) > input {
        position: absolute;
        left: -9999px;
        top: auto;
    }

    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

        .rate:not(:checked) > label:before {
            content: '★ ';
        }

    .rate > input:checked ~ label {
        color: #ffc700;
    }

    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }

    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
/*#endregion rate*/

/*#region addnew*/
.add-new {
    display: grid;
    align-self: start;
    grid-template-columns: 30% auto;
    background-color: #EBEBEB;
    width: auto;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 30px;
    margin: 15px;
}

    .add-new * {
        margin: 1px;
    }

    .add-new label {
        align-self: center;
    }

    .add-new input {
        padding: 1px;
    }

    .add-new .required-marker {
        color: red;
    }

    .add-new button {
        grid-row: 7;
        grid-column: 2;
        align-self: center;
        justify-self: right;
    }

        .add-new button[type=submit] {
            grid-row: 6;
            grid-column: 2;
            align-self: center;
            justify-self: center;
        }

    .add-new select {
        grid-column: 2;
    }

        .add-new select:invalid ::placeholder {
            color: red;
        }
/*#endregion addnew*/

/*#region spider-chart*/
#spider-chart {
    justify-self: center;
}

    #spider-chart .chart-background {
        fill: #EBEBEB;
    }

    #spider-chart .chart-attributes {
        stroke: black;
        stroke-width: 1;
        fill: #bfbfbf;
    }
/*#endregion spider-chart*/

/*#region footer*/
footer {
    grid-area: footer;
    justify-self: center;
    text-align: center;
    margin-bottom: 5px;
}

    footer .info {
        margin-top: 25px;
        color: #454545;
        font: 10px Arial, cursive;
    }

    footer a {
        color: #454545;
    }

        footer a:link {
            text-decoration: none;
        }

        footer a:hover {
            text-decoration: underline;
        }

        footer a:visited {
            text-decoration: none;
        }

        footer a:active {
            text-decoration: underline;
        }
/*#endregion footer*/

/*#region media*/
@media (max-width: 400px) {
    #training-list-container #training-list li {
        grid-template-areas: "a a a" "b b b" "c c c" "e e f" "g g h" "i i j";
    }

        #training-list-container #training-list li .rate {
            justify-self: start;
        }
}

@media (max-width: 735px) {
    main {
        display: grid;
        grid-template-columns: 100%;
    }

    .add-new {
        width: auto;
    }
}
/*#endregion media*/
